body {
  color: white !important;
  margin: 0px;
}

.main {
  position: relative;
}

.main .landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2.5vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("./Image/main.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main .landing .headline {
  font-size: 5rem;
  font-weight: bolder;
}

.main .landing .title {
  font-size: 2.5rem;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.content .black {
  background-color: black;
}

.content .black .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 1.5rem;
  height: 20vh;
}

.content .mix {
  background: -webkit-gradient(linear, left top, right top, from(#000000), color-stop(30%, #000000), color-stop(30%, #220b38), to(#220b38));
  background: linear-gradient(to right, #000000 0%, #000000 30%, #220b38 30%, #220b38 100%);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .mix .lImage {
  height: 60%;
  width: 50%;
}

.content .mix .lImage img {
  height: 100%;
}

.content .mix .lImage .ro {
  height: 100%;
}

.content .mix .rDescription .header {
  font-size: 3rem;
  font-weight: bolder;
}

.content .mix .rDescription .desc {
  font-size: 1.5rem;
}

.content .mix .rDescription .gradient-btn {
  font-size: 1.5rem;
}

.content .leftAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 1.5rem;
  height: 50vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .leftAbout .lDescription .header {
  font-size: 3rem;
}

.content .leftAbout .lDescription .desc {
  font-size: 1.5rem;
}

.content .leftAbout .rImage {
  height: 100%;
  width: 30%;
}

.content .leftAbout .rImage img {
  height: 100%;
}

.connect {
  color: white;
  background-color: #220b38;
  height: 20vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.connect .heads {
  height: 50%;
  font-size: 2rem;
}

.connect .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
}

.connect .icons .itm {
  height: 45px;
  width: 45px;
}

.footer {
  color: white;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5vh;
}

.footer .heads {
  font-size: 2rem;
}

.form {
  max-width: 420px;
  margin: 50px auto;
}

.form .feedback-input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #CC6666;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
}

.form .feedback-input:focus {
  border: 2px solid #CC4949;
}

.form textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

.form [type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background: #CC6666;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

.form [type="submit"]:hover {
  background: #CC4949;
}

.gradient-btn {
  z-index: 5;
  color: #FFF;
  display: inline-block;
  height: 70px;
  line-height: 70px;
  width: 180px;
  margin: 10px;
  padding-left: 20px;
  border-radius: 50px;
  -webkit-box-shadow: 5px 5px 2px -2px #3f3e3e;
          box-shadow: 5px 5px 2px -2px #3f3e3e;
  text-align: center;
}

.gradient-btn:nth-child(odd):hover {
  cursor: pointer;
  -webkit-box-shadow: -6px -9px 2px -2px #3f3e3e;
          box-shadow: -6px -9px 2px -2px #3f3e3e;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.gradient-btn:nth-child(even):hover {
  cursor: pointer;
  -webkit-box-shadow: 8px 8px 2px -2px #3f3e3e;
          box-shadow: 8px 8px 2px -2px #3f3e3e;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.btn-2 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fab823), color-stop(#f9a315), color-stop(#f68d0c), color-stop(#f3770d), to(#ee5f13));
  background-image: linear-gradient(to top, #fab823, #f9a315, #f68d0c, #f3770d, #ee5f13);
}

.btn-6 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d83f91), color-stop(#d0409b), color-stop(#c743a5), color-stop(#bb47af), to(#ae4bb8));
  background-image: linear-gradient(to top, #d83f91, #d0409b, #c743a5, #bb47af, #ae4bb8);
}

.btn-7 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#a94bb9), color-stop(#9b46b7), color-stop(#8d42b5), color-stop(#7d3eb2), to(#6d3ab0));
  background-image: linear-gradient(to top, #a94bb9, #9b46b7, #8d42b5, #7d3eb2, #6d3ab0);
}

.btn-11 {
  background: -webkit-gradient(linear, left bottom, left top, from(#11998e), to(#38ef7d));
  background: linear-gradient(to top, #11998e, #38ef7d);
}

.navCen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.elem {
  margin: 2px 2vw;
}

.active {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d83f91), color-stop(#d0409b), color-stop(#c743a5), color-stop(#bb47af), to(#ae4bb8));
  background-image: linear-gradient(to top, #d83f91, #d0409b, #c743a5, #bb47af, #ae4bb8);
  color: black;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background: -webkit-gradient(linear, left top, left bottom, from(#3a92b4), color-stop(50%, #1df7fd), to(#45fce0));
  background: linear-gradient(180deg, #3a92b4 0%, #1df7fd 50%, #45fce0 100%);
  color: black;
}

.dropdown-content a:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fab823), color-stop(#f9a315), color-stop(#f68d0c), color-stop(#f3770d), to(#ee5f13));
  background-image: linear-gradient(to top, #fab823, #f9a315, #f68d0c, #f3770d, #ee5f13);
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */
@media(max-width:1340px){
  .main .landing .headline {
    font-size: 4.0rem;
    font-weight: bolder;
  }
  
  .main .landing .title {
    font-size: 1.5rem;
  }
  .content .mix .rDescription .header {
    font-size: 2.5rem;
    font-weight: bolder;
  }
  
  .content .mix .rDescription .desc {
    font-size: 1rem;
  }
  
  .content .mix .rDescription .gradient-btn {
    font-size: 1.5.rem;
  }
  .content .leftAbout .lDescription .header {
    font-size: 2.5rem;
  }
  
  .content .leftAbout .lDescription .desc {
    font-size: 1rem;
  }
  .content .mix .lImage img {
    height: 80%;
  }
  .content .leftAbout .rImage img {
    height: 80%;
  }
  
}
