body{
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
}

.leftS{
  display: flex;
  border-radius: 15px 12px 20px;
  background-color: cyan;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  align-content: center;
}
.rightS{
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap:4vw;
  border-radius: 15px 12px 20px;
  background-color: cyan;
  align-items: center;
}
.logo{
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.it{
  height: 100%;
  width: 100%;
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: large;
}


.nav-link {
  color: black;
  font-family: "Viga", sans-serif;
  font-size: 20px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}
.rect {
  border-radius: 15px 12px 20px;
  height: 49px;  
  width: 10%;
  text-align: center;
  background-color: cyan;
  margin-right: 60%;
  margin-left: 5%;
  color: black;
  z-index: 1;
  position: absolute;
}
.no_hov:hover {
  background-color: black;
  color: white;
}
.bar {
  background-color: cyan;
  margin-left: 60%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  border-radius: 15px 12px 20px;
  height: 55px;  
  z-index: 1;
  position: absolute;
  color: black;
  padding-top: 0.5%;
}
.am{
  position: relative;
}

.left{
  display: flex;
  background: rgba(102, 240, 210, 0.945);  
  width: 400px;
  height: 60px;
  border-radius: 0px 15px 15px 0px;
  font-size: 40px;
  padding: 0%;
  margin: 0%;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 2%;
  font-weight: bold;
  margin-bottom: 3%;
}
.RIGHT{
  width: 100%;
  height: 80px;
}
.right{
  float: right;
  background: rgba(238, 163, 232, 0.945);
  width: fit-content;
  height: 60px;
  border-radius: 15px 0px 0px 15px;
  font-size: 40px;
  color: white;
  margin-top: 2%;
  
  font-weight: bold;
  align-items: center;
  justify-content: center;
 

}
span.spac{
  padding: 9px 60px 8px 40px;
}
.pic1{
  margin-top: 7%;
  border-radius: 70px;
  padding-left: 140px;
}
div.game{
  background: rgba(209, 79, 209, 0.945) !important;
}
div.Online{
  background: rgba(95, 241, 81, 0.945) !important;
  
}
.pic2{
  margin-top: 5%;
  border-radius: 90px;
  padding-right: 5vw;
  padding-left: 5vw;
}
.movie{
  display: flex;
  gap: 400px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  margin-top: 2%;
  align-items: center;
  justify-content: center
}
.abt{
  color: white;
  margin-top: 3%; 
}
.about{
  font-size: 25px;
}
.circle{
  border-radius: 90px;
  margin-bottom: -11px;
}
.heading{
  font-weight: bold;
  font-size: 45px;

}
.dim{
  width: 1105px;
  height: 700px;
}  
.gig{
  display: flex;
  background: rgb(211 47 47);
  width: 400px;
  height: 60px;
  border-radius: 0px 15px 15px 0px;
  font-size: 40px;
  padding: 0%;
  margin: 0%;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 2%;
  font-weight: bold;
  margin-bottom: 3%;
}
.online{
    display: flex;
    background: rgba(95, 241, 81, 0.945);
    width: 400px;
    height: 60px;
    border-radius: 15px 0px 0px 15px;
    font-size: 40px;
    padding: 0%;
    margin: 0%;
    color: white;
    margin-top: 2%;
    margin-left: 77%;
    margin-right: 0% !important;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
  }  
/* hover media */
/*Navbas*/

.elem:hover{
  color: black !important;
  background :linear-gradient(180deg, #3a92b4 0%, #1df7fd 50%, #45fce0 100%);
 
}
.elem1:hover{
color: white;
  background: linear-gradient(to top, #fab823, #f9a315, #f68d0c, #f3770d, #ee5f13); ;
}
.navv{
  background-color: black !important;
  text-decoration: none;
}
 /*Nav bar*/

/* hover effect */
.category1:hover{
  background-color:#60e3c6 !important ;  
}
.category2:hover{
  background-color: #60e3c6 !important;
}
.category3:hover{
  background-color: rgba(209, 79, 209, 0.945) !important ;
}
.category4:hover{
  background-color: rgba(209, 79, 209, 0.945) !important ;
}
.category5:hover{
  background-color: rgba(209, 79, 209, 0.945) !important ;
}
.category6:hover{
  background-color:rgb(211 47 47) !important ;
}
.category7:hover{
  background-color:rgba(95, 241, 81, 0.945) !important ;
}
.category8:hover{
  background-color:rgb(211 47 47)  !important ;
}

/* Screen Sizes 700px and down */
@media(max-width:800px){
  .gig{
    width:100%;
    border-radius:0px;
     font-size: 2rem;
    
  }
  .movie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20vh;
    gap: 4vh;
  }
  .pic1{
    padding-left: 0%;
    margin-top: 3vh;
  }
  .rev{
    flex-direction: column-reverse;
  }
  .pic2{
    padding-right: 0%;
  }
.all{
  margin-top: 10vh;
}
.left{
  width: 100%;
  border-radius: 0%;
  font-size: 2rem;
}
.right{
  display: flex;
  border-radius: 0%;
  width: 100%;
  align-content: center;
  justify-content: center;
  font-size: 2rem;
}
.about{
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.dim{
  height: 300px;
}
}

@media(max-width:1400px){
  .movie{
    gap: 1vw;
  }
  .pic1{
    padding-left: 5vw;
    padding-right: 10vw;
  }
}
@media(max-width:425px){
  .gig{
    font-size:1rem;
    height:31px;
    letter-spacing:1px;
  }
  .left{
    font-size:1rem;
    height:31px;
    letter-spacing:1px;
  }
  .right{
    font-size:1rem;
    height:31px;
    letter-spacing:1px;
  }
  
  .heading{
    padding-top: 05rem;
    font-size:1.5rem;
  }
  
}
@media(max-width:486px){
  .nav{
    padding-left:1vw;
    padding-right:1vw;
    height:3vh;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap:2vh;
    margin:0px;
    width:100%;
  }
  .leftS{
    gap:1vw;
    color:white;
    background:black;
  }
  .rightS{
    border-radius:0px;
    width:100%;
  }
  
}
