body{
    background-color: black;
}
/*Navbas*/

.elem:hover{
  color: black !important;
  background :linear-gradient(180deg, #3a92b4 0%, #1df7fd 50%, #45fce0 100%);
 
}
.elem1:hover{
color: white;
  background: linear-gradient(to top, #fab823, #f9a315, #f68d0c, #f3770d, #ee5f13); ;
}
.navv{
  background-color: black !important;
  text-decoration: none;
}
.navFix{
  width:100vw;background:black;position: fixed;z-index: 999;
}
 /*Nav bar*/

/* main{
  max-width: 1920px;
  margin: auto;
} */
.am{
  position: relative;
}
/* white card on the top */
.card{
  background-color: white;
  border-radius: 15px 20px 30px;
  z-index: 1;
  padding-top: 20px;
  position: absolute !important;
  width: 500px;
  height: 570px;
  left: 72px;
  top: -60px;
}
.left{
  display: flex;
  background: rgba(102, 240, 210, 0.945) !important;
  width: fit-content;
  height: 61px;
  border-radius: 0px 16px 15px 0px;
  font-size: 40px;
  padding: 9px 40px 8px 60px;
  margin: 0%;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 2%;
  font-weight: bold;
}
.RIGHT{
  width: 100%;
  height: 80px;
}
.right{
  float: right;
  background: rgba(238, 163, 232, 0.945);
  width: fit-content;
  height: 60px;
  border-radius: 15px 0px 0px 15px;
  font-size: 40px;
  color: white;
  margin-top: 2%;
  
  font-weight: bold;
  align-items: center;
  justify-content: center;
 

}
div.convertor{
  background: rgba(245, 85, 85, 0.945) !important;

}
div.Audio{
  background-color: rgb(115, 128, 250);
}
div.Video{
  background-color: rgba(135, 41, 243, 0.87) ;

}
span.spac{
  padding: 9px 60px 8px 40px;
}
/* group 1 */  
.pic1{
  margin-top: 5%;
  border-radius: 70px;
  padding-left: 300px;
}
.pic2{
  margin-top: 3%;
  border-radius: 70px;
  padding-right: 300px;
  
}
.movie{
  display: flex;
  gap: 400px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  margin-top: 2%;
  align-items: center;
  justify-content: center
}
.abt{
  color: white;
  margin-top: 3%; 
}
.about{
  font-size: 25px;
}
.circle{
  border-radius: 65px;
}
.heading{
  font-weight: bold;
  font-size: 45px;
  align-items: center;
justify-content: center;}
.dim{
  width: 1105px;
  height: 700px;
}

/*Navbas*/
 /*Nav bar*/


/* hover effect */
.category1:hover{
  background-color:rgb(12, 228, 181) !important ;
}
.category2:hover{
  background-color: rgb(15 232 185) !important;
}
.category3:hover{
  background-color:rgba(135, 41, 243, 0.87) !important ;
}
.category4:hover{
  background-color:rgba(135, 41, 243, 0.87) !important ;
}
.category5:hover{
  background-color:rgba(245, 85, 85, 0.945) !important ;
}
.category6:hover{
  background-color:rgba(245, 85, 85, 0.945) !important ;
}
.category7:hover{
  background-color:rgb(115, 128, 250) !important ;
}
.category8:hover{
  background-color:rgb(115, 128, 250) !important ;
}

/* Screen Sizes 700px and down */
@media(max-width:800px){

  .movie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20vh;
    gap: 4vh;
  }
  .pic1{
    padding-left: 0%;
    margin-top: 2vh;
  }
  .rev{
    flex-direction: column-reverse;
  }
  .pic2{
    padding-right: 0%;
  }
.all{
  margin-top: 10vh;
}
.left{
  width: 100%;
  border-radius: 0%;
  font-size: 2rem;
}
.right{
  display: flex;
  border-radius: 0%;
  width: 100%;
  align-content: center;
  justify-content: center;
  font-size: 2rem;
}
.about{
  font-size: 1rem;
  font-weight: bold;
}

.dim{
  height: 300px;
}
}

@media(max-width:1400px){
  .movie{
    gap:10vw;
  }
  .pic1{
    padding-left:5vw;
  }
}
@media(max-width:425px){
  .left{
    font-size:1rem;
    height:31px;
    letter-spacing:1px;
  }
  .right{
    font-size:1rem;
    height:31px;
    letter-spacing:1px;
  }
  
  .heading{
    font-size:1.5rem;  
  }
  
}
@media(max-width:486px){
  .nav{
    padding-top: 2vw;
    padding-right:1vw;
    height:3vh;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap:2vh;
    margin:0px;
    width:100%;
  }
  .leftS{
    gap:1vw;
    color:white;
    background:black;
  }
  .rightS{
    border-radius:0px;
    width:100%;
  }
  
}
